@model IEnumerable<CoreTest.Models.Photo>;

@foreach (var item in Model)
{
    <tr id="serverimg_@item.Id">
        <td>
            <a id="single_image" href="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageContent)">
                <img class="img-thumbnail  mx-auto d-block" src="@Url.Action("ImageResize","Photos", new { id = item.Id })?width=320" alt="Foto" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoName)
        </td>
        <td>
            <button id="serverbtn_@item.Id" class="btn btn-outline-danger font-weight-bold">Delete</button>
        </td>
    </tr>
}
